/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
  border-radius:0px !important;
}

html, body, #root {
  height:100%
}
body {
  margin:0px;
}
#root {
  overflow: hidden;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar-track {
  background: #E0E0E0 !important;
}

::-webkit-scrollbar-corner {
  background: #E0E0E0 !important;
  }

::-webkit-scrollbar-thumb {
  background: #BDBDBD !important;
  border-radius:0px !important;
  margin:0px !important;
  padding:0px !important;
  border:none !important
}

::-webkit-scrollbar-thumb:focus {
  background: #757575 !important;  
}
  
::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E !important;
  width:16px;
  height:16px;
  transition: all .3s ease;
}

.slide .selected > div > img {
  max-width: 551px;
}

ul {
  padding-inline-start: 0;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
  text-align: center;
}